body {
    margin: 0;
    padding: 0;
    background-image: url('https://c4.wallpaperflare.com/wallpaper/810/537/160/japan-tokyo-street-building-wallpaper-preview.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.width-10 {
    width: 100px;
}

.cable {
    background-color: gray;
    height: 110px;
    width: 10px;
}